[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
yapf = "*"
xar = "*"

[packages]
ftfy = "*"
fuzzycat = {editable = true, path = "."}
# cf. https://github.com/pypa/pipenv/issues/4476
importlib-metadata = "==1.7.0"
glom = "*"
toml = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
fatcat-openapi-client = "*"
unidecode = ">=0.10"
requests = "*"
dynaconf = "*"
regex = "*"
zstandard = "*"
jellyfish = "*"

[requires]
python_version = "3.8"
