[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
yapf = "*"
ipython = "*"
twine = "*"
fuzzycat = {editable = true, path = "."}
pytest = "*"
mypy = "*"

[packages]
fuzzy = "*"
fuzzycat = {editable = true, path = "."}
# cf. https://github.com/pypa/pipenv/issues/4476
importlib-metadata = "==1.7.0"
tokenizers = "*"
spacy = "*"
nltk = "*"

[requires]
python_version = "3.7"
