[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
yapf = "*"
ipython = "*"
twine = "*"
fuzzycat = {editable = true, path = "."}
pytest = "*"

[packages]
elasticsearch = "*"
fuzzy = "*"
fuzzycat = {editable = true, path = "."}
orjson = "*"
importlib-metadata = "==1.7.0"

[requires]
python_version = "3.5"
